/* ========================= */
/* Base page */
/* ========================= */

/* Reset settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* css variables */
:root {
    --nav-color: #473283;
    --nav-text: #ffffff;
    --hover-color: #ff4b7d;
}


/* body default styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
.main-header {
    background-color: var(--nav-color);
    padding: 0 4rem;
    height: 80px;
    display: flex;
    align-items: center;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

/* logo */
.logo-img {
    height: 50px;
    width: auto;
    border-radius: 20px;
    display: block;
}

/* Menu items list */
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

/* Menu item */
.nav-links a {
    padding: 10px 20px;
    color: var(--nav-text);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

/* Menu item hover */
.nav-links a:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

/* Logout styling */
.btn-logout {
    background: none;
    border: none;
    color: var(--nav-text);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

/* Logout hover styling */
.logout-button:hover {
    background-color: var(--hover-color);
    border-radius: 10px;
}

/* Main */
main {
    flex: 1;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    padding: 0 2rem;
}

/* Footer */
.main-footer {
    width: 100%;
    padding: 3rem 0;
    background-color: #f9f9f9;
    border-top: 1.2px solid var(--nav-color);
    margin-top: auto;
}

/* Footer content */
.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1.5rem;
}

/* Social icons container */
.social-links {
    display: flex;
    gap: 1.5rem;
}

/* Social icons */
.social-links a {
    color: var(--hover-color);
    font-size: 1.2rem;
}

/* ========================= */
/* Login & Signup Pages */
/* ========================= */

/* Sections container */
.auth-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Form container */
.auth-form {
    text-align: left;
}

/* Access form labels using {{ form.as_p }} hidden structure */
/* Form username helper */
.auth-form .helptext {
    display: block;
    margin-top: 12px;
    margin-bottom: 25px;
    font-size: 0.9rem;
}

/* Form ul */
.auth-form ul {
    margin-top: -10px;
    margin-bottom: 25px;
    line-height: 1.4;
    font-size: 0.9rem;
}

/* Form labels */
.auth-form label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 8px;
}

/* Form inputs */
.auth-form input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s;
}

/* Form inputs focus */
.auth-form input:focus {
    outline: none;
    border-color: var(--hover-color);
}

/* Submit button */
.btn-submit {
    background-color: var(--hover-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 1rem;
}

/* Submit button hover */
.btn-submit:hover {
    filter: brightness(1.1);
}

/* Redirection text bottom form */
.option-redir {
    margin: 1.2rem;
}

/* ========================= */
/* Profile page */
/* ========================= */

/* Main profile container */
.profile-container {
    max-width: 600px;
    margin: 2rem auto;
}

/* Profile h2 */
.profile-container h2 {
    margin-bottom: 1.5rem;
}

/* Bark creator container */
.bark-creator {
    background: #fff;
    border: 1px solid #eff3f4;
    padding: 1.2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

/* Bark textarea input */
.bark-input {
        font-family: Arial, sans-serif;
    width: 100%;
    border: none;
    border-bottom: 2px solid #eff3f4;
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 10px 0;
    resize: none;
    transition: border-color 0.3s ease;
    background: transparent;
}

/* Bark textarea focus */
.bark-input:focus {
    outline: none;
    border-bottom-color: var(--hover-color); /* La línea se ilumina al escribir */
}

/* Bark textarea placeholder */
.bark-input::placeholder {
    color: #536471;
}

/* Bark's feed h2 */
.barks-feed h3 {
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #eff3f4;
    padding-bottom: 0.5rem;
}

/* Card of each bark */
.bark-card {
    border-bottom: 1px solid var(--nav-color);
    padding: 1.2rem 0.5rem;
    transition: background 0.2s, border-radius 0.2s;
}

/* Bark card when hover */
.bark-card:hover {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}

/* Bark card text */
.bark-card p {
    font-size: 1.05rem;
    line-height: 1.5;
    color: #0f1419;
    margin-bottom: 0.4rem;
}

/* Bark card datetime */
.bark-card small {
    color: #536471;
    font-size: 0.9rem;
}

/* No cards available */
.empty-bark-cards {
    text-align: center;
    color: #536471;
    padding: 2rem;
    background: #f7f9fa;
    border-radius: 10px;
}







