<!-- Extends base.html -->
{% extends 'base.html' %}
<!-- Page title block. Including template variable username -->
{% block title %}Wall of {{ user_profile.username }} | Barks{% endblock %}
<!-- Dynamic content block form base.html -->
{% block content %}
    <section class="profile-container">

        {% if is_own_profile %}
            <!-- Template variable to get the username (private profile) -->
            <h2>Welcome, {{ user_profile.username }}</h2>
            <!-- Bark textarea to send barks -->
            <div class="bark-creator">
                <form method="POST" class="bark-form"> <!-- Form to implement logic from view.profile -->
                <!-- Token to check if form is sent by users from the site (not external) -->
                {% csrf_token %}
                <!-- Template variable from the view "profile" to create all form fields and validations -->
                {{ form.as_p }}
                    <div class="char-counter-conteiner">
                        <span id="char-counter">0</span> / 140
                    </div>
                <button type="submit" class="btn-submit" id="btn-submit-bark">Bark!</button> <!-- To send the bark -->
                </form>
            </div>
        {% else %}
            <!-- Template variable to get the username (public profile) -->
            <h2>Wall of {{ user_profile.username }}</h2>
        {% endif %}

        <div class="barks-feed">
            <!-- If condition to show private profile message or public -->
            {% if is_own_profile %}
                <h3>Your Barks</h3>
            {%  else %}
                <h3>{{ user_profile.username }}'s Barks</h3>
            {%  endif %}
            <!-- Template tag for loop to retrieve and show card for each bark in the DB -->
            {% for bark in user_barks %}
                <article class="bark-card">
                    <p>{{ bark.content }}</p> <!-- Template variable to get the bark's content -->
                    <small>Sent {{ bark.created_at|timesince}} ago</small> <!-- Template variable to get the bark's datetime (use of "timesince") -->
                </article>
            <!-- If user has no barks, shows a message -->
            {%  empty %}
                <p class="empty-bark-cards">You haven't barked yet!</p>
            {%  endfor %}
        </div>

    </section>
{% endblock %}