{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{%  block title %}Bark | More than just a bark{%  endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
<!-- Use header to improve semantic comprehension -->
<header class="main-header">
    <nav class="navbar">
        <!-- Logo -->
        <div class="logo">
            <img src="{% static 'images/logo1.png' %}" alt="bark logo" class="logo-img">
        </div>
        <!-- Menú items -->
        <ul class="nav-links">
            <!-- If user is signed up the menu shows -->
            {% if user.is_authenticated %}
            <li><a href="{%  url 'profile' %}">Profile</a></li>
            <!-- For security reasons, Django requires a POST request to be sent for logout -->
                <li>
                <form action="{% url 'logout' %}" method="post">
                <!-- unique session and user identifier -->
                {% csrf_token %}
                <button type="submit" class="btn-logout">Logout</button>
                </form>
            <!-- If user is not signed up the menu shows -->
            {%  else %}
            <li><a href="{%  url 'login' %}">Login</a></li>
            <li><a href="{%  url 'signup' %}">Signup</a></li>
            {%  endif %}
        </ul>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer class="main-footer">
    <div class="footer-content">
        <div class="social-links">
    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
</div>

        <p class="copyright">
            &copy; 2026 Barks. More than just a bark.
        </p>
    </div>

</footer>
</body>
</html>